# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\david\OneDrive - Universiteit Twente\MOD4\week2\MOD4\WebProgLab\onlineStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
